In [1]:
import pandas as pd

In [4]:
data=({
    "ice_cream":[None,50,20,40],
    "Temperature":[49,47,17,None]
})
df=pd.DataFrame(data)

In [5]:
df

   ice_cream  Temperature
0        NaN         49.0
1       50.0         47.0
2       20.0         17.0
3       40.0          NaN